body {
    width:100%;
    height:100%;
    margin: 0;
    background: #444;
    text-align: left;
    color: #fff;
}

h2 {
    text-align: center;
    margin: 10px 0 0;
}

text {
    fill: #888;
}

#viz {
    position: relative;
    overflow: auto;
    width: 100%;
    padding: 0;
    height: 45%;
}

#vizCanvas{
    shape-rendering: crispEdges;
}

.axis {
    stroke-width: 1px;
    fill: transparent;
}

.axis text {
    stroke-width: 0;
    fill: #000;
    font-size: 0.5em;
}

.y.axis {
    stroke: #000;
}

.cell {
    cursor: pointer;
}

.cell.false{
    opacity: 0.05;
}

.legends.secondary {
    margin-top: 10px;
}

.legendCell, .legendCell div {
    display: inline-block;
}

.legendText{
    margin-right: 5px;
    cursor: pointer;
}

.colorTile{
    width: 12px;
    height: 11px;
    margin: 0 4px 0 8px;
}

.rowHover.active .cell.false{
    opacity: 0.5;
}

.cellHover {
    opacity: 0.1;
    transition: .4s linear;
}

.cellHover.active {
    opacity: 1;
}

.description{
    padding: 20px;
}